/* Upewnij się, że cała nawigacja jest wyśrodkowana i nie przesuwa się na boki */
.navbar {
  height: 50px;
  background-color: #edbf88 !important;
  border-radius: 20px;
  padding: 0 20px;
  z-index: 100;
  top: 0;
  margin: 20px auto; /* Wycentrowanie nawigacji */
  max-width: Auto; /* Maksymalna szerokość nawigacji */
}

/* Kontener nawigacji */
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #003366;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styl logo */
.logo {
  font-weight: 500;
  height: 180px; /* Ustaw odpowiednią wysokość logo */
  filter: drop-shadow(0 0 5px black) drop-shadow(0 0 5px black)
    drop-shadow(0 0 5px black); /* Dodaj mocniejszy czarny cień */
}

/* Przyciski nawigacji */
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003366;
}

/* Linki nawigacyjne */
.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 5px;
}

/* Styl ciała dokumentu */
body {
  font-family: sans-serif;
}

/* Menu rozwijane nawigacji */
.nav-dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.nav-dropdown-menu.show {
  display: block;
  opacity: 1;
}

/* Custom CSS for active and hover states */
.nav-link:hover,
.nav-link.active {
  color: #003366; /* Change to your preferred hover and active color */
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: #9f34dd4b; /* Light red background on hover for dropdown items */
  color: #003366; /* Text color */
}

/* Styl ikony koszyka */
.fa-shopping-cart {
  font-size: 24px;
  margin-right: 5px;
}

/* Licznik koszyka */
.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 7px;
  font-size: 12px;
  margin-left: 2px;
}

/* Menu rozwijane */
.dropdown-menu {
  overflow: hidden;
}

.language-switcher {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.language-switcher .flag {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
}

.language-switcher .flag.active {
  border: 2px solid #000;
}
