/* booking.css */

.container-center {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px; /* Add padding to ensure some space around the form */
}

.form-wrapper {
  background: #fff;
  padding: 20px; /* Increase padding for better spacing */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Set a maximum height for the form */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  width: 100%;
  max-width: 600px; /* Set a maximum width for the form */
}
