/* voucher.css */
.voucher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 60;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
}

.description {
  flex: 1;
  padding: 0 10px 10px 10px;
}

.description .image {
  max-width: 850px;
  width: 100%;
  height: auto;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-section {
  padding: 10px;
}

.selection {
  padding: 10px;
}

.duration {
  padding: 10px;
}

.add-to-cart {
  padding: 10px;
  text-align: center;
}

.benefits-section,
.selection,
.duration {
  background-color: #6d5252;
  border-radius: 8px;
}

.selection,
.duration {
  padding-bottom: 20px;
}
