/* voucher.css */
.voucher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 60;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
}

.description {
  flex: 1;
  padding: 0 10px 10px 10px;
}

.description .image {
  max-width: 850px;
  width: 100%;
  height: auto;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-section {
  padding: 10px;
}

.selection {
  padding: 10px;
}

.duration {
  padding: 10px;
}

.add-to-cart {
  padding: 10px;
  text-align: center;
}

.benefits-section,
.selection,
.duration {
  background-color: #edbf88;
  border-radius: 8px;
  color: #003366;
}

.selection,
.duration {
  padding-bottom: 20px;
}
.text-shawow2 {
  color: #003366;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rounded-bacground {
  background-color: #edbf88;
  border-radius: 8px;
  color: #003366;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-right: 10px;
  box-shadow: 7px 6px 4px -1px rgba(66, 68, 90, 1);
}
